# IDE and editor files
.idea/
.vscode/

# Virtual environment
env/
.venv/

# Log files
*.log

# Environment files
*.env

# System files and cache
.DS_Store
**/__pycache__/

# Configuration directories
ckn_kg/neo4j/
neo4j/

plugins/power_monitoring/server/uploads
plugins/power_monitoring/device/data

plugins/power_monitoring/server/QoE_predictive.csv
plugins/power_monitoring/server/timers.csv
plugins/power_monitoring/server/power.csv
/plugins/power_monitoring/server/results/
