# IDE and editor files
.idea/
.vscode/

# Virtual environment
env/
.venv/

# Log files
*.log

# Environment files
*.env

# System files and cache
.DS_Store
**/__pycache__/

# Configuration directories
ckn_kg/neo4j/
neo4j/
