bleach==6.1.0
bokeh==3.1.1
certifi==2024.7.4
charset-normalizer==3.3.2
confluent-kafka==2.4.0
contourpy==1.1.1
idna==3.7
importlib_metadata==8.0.0
Jinja2==3.1.4
linkify-it-py==2.0.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
numpy==1.24.4
packaging==24.1
pandas==2.0.3
panel==1.2.3
param==2.1.1
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyviz_comms==3.0.2
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
urllib3==2.2.2
watchdog==4.0.1
webencodings==0.5.1
xyzservices==2024.6.0
zipp==3.19.2
